/* spinning star image */
.image {
  clip-path: polygon(
    100% 50%,
    87.59% 63.68%,
    88.3% 82.14%,
    70% 84.64%,
    58.68% 99.24%,
    43.05% 89.39%,
    25% 93.3%,
    19.36% 75.71%,
    3.02% 67.1%,
    10% 50%,
    3.02% 32.9%,
    19.36% 24.29%,
    25% 6.7%,
    43.05% 10.61%,
    58.68% 0.76%,
    70% 15.36%,
    88.3% 17.86%,
    87.59% 36.32%,
    100% 50%
  );
  animation: rotate 120s linear infinite;
}

@keyframes rotate {
  0.00% {
    clip-path: polygon(
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%
    );
  }
  2.78% {
    clip-path: polygon(
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%
    );
  }
  5.56% {
    clip-path: polygon(
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%
    );
  }
  8.33% {
    clip-path: polygon(
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%
    );
  }
  11.11% {
    clip-path: polygon(
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%
    );
  }
  13.89% {
    clip-path: polygon(
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%
    );
  }
  16.67% {
    clip-path: polygon(
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%
    );
  }
  19.44% {
    clip-path: polygon(
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%
    );
  }
  22.22% {
    clip-path: polygon(
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%
    );
  }
  25.00% {
    clip-path: polygon(
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%
    );
  }
  27.78% {
    clip-path: polygon(
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%
    );
  }
  30.56% {
    clip-path: polygon(
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%
    );
  }
  33.33% {
    clip-path: polygon(
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%
    );
  }
  36.11% {
    clip-path: polygon(
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%
    );
  }
  38.89% {
    clip-path: polygon(
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%
    );
  }
  41.67% {
    clip-path: polygon(
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%
    );
  }
  44.44% {
    clip-path: polygon(
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%
    );
  }
  47.22% {
    clip-path: polygon(
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%
    );
  }
  50.00% {
    clip-path: polygon(
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%
    );
  }
  52.78% {
    clip-path: polygon(
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%
    );
  }
  55.56% {
    clip-path: polygon(
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%
    );
  }
  58.33% {
    clip-path: polygon(
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%
    );
  }
  61.11% {
    clip-path: polygon(
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%
    );
  }
  63.89% {
    clip-path: polygon(
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%
    );
  }
  66.67% {
    clip-path: polygon(
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%
    );
  }
  69.44% {
    clip-path: polygon(
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%
    );
  }
  72.22% {
    clip-path: polygon(
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%
    );
  }
  75.00% {
    clip-path: polygon(
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%
    );
  }
  77.78% {
    clip-path: polygon(
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%
    );
  }
  80.56% {
    clip-path: polygon(
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%
    );
  }
  83.33% {
    clip-path: polygon(
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%
    );
  }
  86.11% {
    clip-path: polygon(
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%
    );
  }
  88.89% {
    clip-path: polygon(
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%
    );
  }
  91.67% {
    clip-path: polygon(
      93.3% 25%,
      89.39% 43.05%,
      99.24% 58.68%,
      84.64% 70%,
      82.14% 88.3%,
      63.68% 87.59%,
      50% 100%,
      36.32% 87.59%,
      17.86% 88.3%,
      15.36% 70%,
      0.76% 58.68%,
      10.61% 43.05%,
      6.7% 25%,
      24.29% 19.36%,
      32.9% 3.02%,
      50% 10%,
      67.1% 3.02%,
      75.71% 19.36%,
      93.3% 25%
    );
  }
  94.44% {
    clip-path: polygon(
      96.98% 32.9%,
      90% 50%,
      96.98% 67.1%,
      80.64% 75.71%,
      75% 93.3%,
      56.95% 89.39%,
      41.32% 99.24%,
      30% 84.64%,
      11.7% 82.14%,
      12.41% 63.68%,
      0% 50%,
      12.41% 36.32%,
      11.7% 17.86%,
      30% 15.36%,
      41.32% 0.76%,
      56.95% 10.61%,
      75% 6.7%,
      80.64% 24.29%,
      96.98% 32.9%
    );
  }
  97.22% {
    clip-path: polygon(
      99.24% 41.32%,
      89.39% 56.95%,
      93.3% 75%,
      75.71% 80.64%,
      67.1% 96.98%,
      50% 90%,
      32.9% 96.98%,
      24.29% 80.64%,
      6.7% 75%,
      10.61% 56.95%,
      0.76% 41.32%,
      15.36% 30%,
      17.86% 11.7%,
      36.32% 12.41%,
      50% 0%,
      63.68% 12.41%,
      82.14% 11.7%,
      84.64% 30%,
      99.24% 41.32%
    );
  }
  100.00% {
    clip-path: polygon(
      100% 50%,
      87.59% 63.68%,
      88.3% 82.14%,
      70% 84.64%,
      58.68% 99.24%,
      43.05% 89.39%,
      25% 93.3%,
      19.36% 75.71%,
      3.02% 67.1%,
      10% 50%,
      3.02% 32.9%,
      19.36% 24.29%,
      25% 6.7%,
      43.05% 10.61%,
      58.68% 0.76%,
      70% 15.36%,
      88.3% 17.86%,
      87.59% 36.32%,
      100% 50%
    );
  }
}
